:host {
  width: 100%;
  height: 100%;
  background-position: center;
}

.main {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 3% 10% 10% 10%;
  background-image: url("/assets/game-images/background/fondo-registro.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.cont {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  display: flex;
  box-sizing: border-box;
}

.cont2 {
  align-self: stretch;
  flex: 1 1 0;
  padding: 20px;
  background-color: white;
  height: fit-content;
  justify-content: center;
  align-items: center;
  gap: 40px;
  display: inline-flex;

}

.contImg {
  align-self: stretch;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: flex;
  height: fit-content;
}

.contInfo{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  align-items: center;
}

.profilepic {
  width: 350px;
  height: 350px;
  border: 7px #4335af solid;
}

.ppOptions{
  width: 100%;
  align-self: stretch;
  justify-content: center;
  align-items: center;
  gap: 30px;
  display: flex;
  padding: 2% 0%;
}

.username {
  align-self: stretch;
  text-align: right;
  color: #ffffff;
  font-size: 28px;
  font-weight: 400;
  word-wrap: break-word;
  text-shadow: #4518a6 2px 2px 0px;
}

button {
  width: fit-content;
  height: auto;
  padding: 2% 10% 2% 10%;
  background: #e856c3;
  border: 0px solid;
  box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.25);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  display: flex;
  color: white;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
}

button:hover {
  background: #fa9fe3;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.text {
  align-self: stretch;
  color: #2c6f7f;
  font-size: 18px;
  font-weight: 400;
  word-wrap: break-word;
}

.recuperar {
  align-self: stretch;
  text-align: center;
  color: #ff5e68;
  padding: 10px;
  font-size: 14px;
  font-weight: 400;
  word-wrap: break-word;
  cursor: pointer;
}

.recuperar:hover {
  text-decoration: underline;
}

img{
  width: 119px;
  height: 119px;
}

.form {
  align-self: stretch;
  padding: 5px;
  font-family: inherit;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  width: 95%;
}

.parte2{
  gap: 10px;
}

.oculto{
  display: none;
}

.visible{
  display: block;
}

#guardarInfo{
  margin-top: 5%;
}
