<div class="main">
  <div class="cont">
    <div class="username">username</div>
    <div class="cont2">
      <div class="contImg">
        <img class="profilepic" src="https://via.placeholder.com/410x410" />
      </div>
      <div
        class="contInfo"
        style="
          flex: 1 1 0;
          align-self: stretch;
          padding: 10px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;
          display: inline-flex;
        "
      >
        <div class="text">Name</div>
        <div class="text">Lastname</div>
        <div class="text">namelastname&#64;mail.com</div>
        <div
          class="ppOptions"
          style="
            padding: 20px;
            justify-content: center;
            align-items: center;
            gap: 30px;
            display: inline-flex;
          "
        >
          <img
            class="img1"
            style="width: 119px; height: 119px; border: 1px #4a2c2c solid"
            src="https://via.placeholder.com/119x119"
          />
          <div
            class="img2"
            style="
              width: 119px;
              height: 119px;
              background: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.6) 0%,
                rgba(0, 0, 0, 0.6) 100%
              );
              border: 1px #4a2c2c solid;
            "
          ></div>
          <img
            class="img3"
            style="width: 119px; height: 119px; border: 1px #4a2c2c solid"
            src="https://via.placeholder.com/119x119"
          />
        </div>
        <div class="recuperar">¿Quieres cambiar tu contraseña?</div>
        <button class="EditarInformaciNPersonal">
          Editar Información Personal
        </button>
      </div>
    </div>
  </div>
</div>
