.alert-box {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 15px;
  background-color: #ff4c4c;
  color: #fff;
  font-family: "Cascadia Code";
  font-size: 1.2rem;
  box-shadow: 6px 6px 0px 0px #583b67;
  z-index: 2;
  width: 50%;
}
