<ng-container *ngFor="let rewardInfo of rewardInfos; let i = index">
  <app-reward-modal
    *ngIf="showRewardModals[i]"
    [rewards]="rewardInfo.rewards"
    [mission]="rewardInfo.mission"
    [showModal]="showRewardModals[i]"
    (closeModalEvent)="handleCloseModal(i)"
  >
  </app-reward-modal>
</ng-container>
<main>
  <section class="lobby-selection">
    <div class="header-mission">
      <select [(ngModel)]="selectedMission" (change)="onMissionSelect()">
        <option *ngFor="let mission of missions" [ngValue]="mission">
          {{ mission.name }}
        </option>
      </select>
      <h2>Tablón de misiones</h2>
    </div>
    <div class="game-room-container">
      <div id="game-room-list" class="game-room-list">
        <ng-container *ngIf="selectedMission; else noMatches">
          <div class="game-room-item">
            <div class="indicators-container">
              <span class="indicators">Estado:</span>
              {{
                selectedMission.chronometer === -1
                  ? "Calma..."
                  : selectedMission.active
                  ? "En progreso"
                  : "Inactiva"
              }}
              <br />
              <span class="indicators">Progreso:</span>
              {{
                selectedMission.chronometer === -1
                  ? "Cargando..."
                  : selectedMission.active
                  ? remainingTime
                  : "Sin empezar"
              }}
            </div>
            <button class="buttom-item" (click)="startMission(selectedMission)">
              <span style="color: #ff009d">Nombre:</span>
              {{ selectedMission.name }}<br />
              <span style="color: #ff009d">Descripción:</span>
              {{ selectedMission.description }} <br />
              <span style="color: #ff009d">Dificultad:</span>
              {{ selectedMission.enemyCount }} <br />
              <span style="color: #ff009d">Recompensa:</span>
              {{ selectedMission.reward }} créditos <br />
              <span style="color: #ff009d">Tiempo requerido:</span>
              {{ selectedMission.time }} <br />
            </button>
          </div>
        </ng-container>
        <ng-template #noMatches>
          <p>No hay partidas disponibles en este momento.</p>
        </ng-template>
      </div>
    </div>
  </section>
</main>
