:host {
  height: 100%;
  width: 60%;
  padding-left: 3%;
  display: flex;
  justify-items: center;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background-color: #fffcf7c0;
}

h1 {
  margin: 0;
  font-size: 40px;
  color: #fcf5ff;
  text-shadow: -2px -2px 0 #4518a6, 2px -2px 0 #4518a6, -2px 2px 0 #4518a6,
    2px 2px 0 #4518a6;
}

nav {
  display: flex;
  gap: 15px;
}

nav a {
  text-decoration: none;
  color: #4518a6;
  font-weight: bold;
  font-size: 25px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.lobby-selection {
  display: flex;
  flex-direction: column;
  background-color: #9b7cdf;
  padding: 0px;
  text-align: center;
  width: 100%;
  height: 80%;
  box-sizing: border-box;
  border: 5px solid black;
  /* padding: 0 5% 0 0; */
}

.game-room-container {
  height: 90%;
  width: 100%;
  display: flex;
  padding: 2% 5% 2% 5%;
  box-sizing: border-box;
}

.game-room-list {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  padding: 2% 2% 2% 2%;
  border: 1px solid #fdfdfd;
  background-color: #f5c6d0;
  color: #000000;
  border-radius: 0;
  gap: 20px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.game-room-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #d36f6f;
  background-color: #f9d9e1;
  color: #000000;
  margin-bottom: 2px;
  box-sizing: border-box;
  cursor: pointer;
}

.indicators {
  color: #ff009d;
  line-height: 1.5;
}
.indicators-container {
  font-size: clamp(0.1rem, 1.2vw, 1.2rem);
  border-bottom: 1px solid #d36f6f;
  width: 100% ;
}

.control {
  width: 100%;
}

.buttom-item {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #4518a6;
  /* font-weight: bold; */
  font-size: clamp(0.1rem, 1vw, 0.9rem);
  justify-content: center;
  background-color: transparent;
  border: none;
  font-family: "VT323";
  overflow: auto;
  padding: 5px;
  text-align: justify;
  line-height: 1.5;
  cursor: pointer;
  text-align: center;
}

.buttom-item:hover {
  background-color: black;
  color: white;
}

.button-container {
  flex: 1;
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  width: 55%;
  height: 1%;
  color: black;
  font-size: clamp(0.1rem, 1.5vw, 3rem);
}

.create-game-button {
  background-color: violet;
  color: #fdfdfd;
  font-size: clamp(0.1rem, 1vw, 3rem);
  border: none;
  height: 80%;
  width: 30%;
  font-family: "VT323";
}

.create-game-button:hover {
  background-color: #c6369c;
}

.header-mission {
  margin: 5% 0 5% 5%;
  display: flex;
  flex-direction: row;
  width: 100%;
}

select {
  font-family: "VT323";
  border: 3px solid black;
  font-size: clamp(0.1rem, 1vw, 3rem);
}
