<div class="landing-container">
  <!-- <header class="header-main">
    <h1>The Nexus Battles III</h1>
  </header> -->
  <div class="main">
    <div class="image-container">
      <div class="heroes">
        <img
          src="assets/game-images/heroes/ice.wizard.png"
          alt=""
          class="hero"
        />
        <img
          src="assets/game-images/heroes/machete.rogue.png"
          alt=""
          class="hero"
        />
        <img
          src="assets/game-images/heroes/weapon.warrior.png"
          alt=""
          class="hero"
        />
        <img
          src="assets/game-images/heroes/tank.warrior.png"
          alt=""
          class="hero"
        />
        <img
          src="assets/game-images/heroes/poison.rogue.png"
          alt=""
          class="hero"
        />
        <img
          src="assets/game-images/heroes/fire.wizard.png"
          alt=""
          class="hero"
        />
      </div>
      <button (click)="navigateTo('sign-in')">Juega Online</button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
