<div class="health-bar-main-container">
  <div class="health-bar-container">
    <div
      class="health-bar"
      [ngClass]="getHealthBarClass()"
      [style.width.%]="getHealthPercentage()"
    ></div>
  </div>
</div>
<div class="power-bar-container">
  <div class="power-bar" [style.width.%]="getPowerPercentage()"></div>
</div>
<!--  -->
<div [ngClass]="{ 'mirror-image': ismirrored }" class="image-container">
  <!-- <img
    [src]="
      'assets/game-images/heroes/' + hero.subtype + '.' + hero.type + '.png'
    "
    class="hero-image"
  /> -->
  <img
    [ngClass]="{
      targeted: isTargeted(),
      clickable: teamside !== userService.getTeamSide(),
      shake: isShaking
    }"
    [src]="
      'assets/game-images/heroes/' + hero.subtype + '.' + hero.type + '.png'
    "
    class="hero-image"
    (click)="setTargetEnemy()"
  />
</div>
<h1>
  {{
    hero.idUser === userService.getIdUser()
      ? hero.idUser + "(you)"
      : hero.idUser
  }}
</h1>
<div class="space-arrow">
  <div *ngIf="isCurrentUser()" class="arrow-up">
    <img class="arrow-img" src="assets/game-images/game-icons/arrow.png" />
  </div>
</div>
