* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", 'Cascadia Code', monospace;
}
:host {
  background-image: url("/assets/game-images/inventary-icons/Fondo.jpg");
  background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
  background-position: center; /* Centra la imagen en el fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  padding: 0px;
  margin: 0; /* Elimina el margen del body */
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  box-sizing: border-box;
  width: 100%; /* Asegura que el body ocupe todo el ancho */
  height: 90%; /* Asegura que el body ocupe toda la altura de la ventana */
}
/*
body {

} */

.container {
  display: flex;
  gap: 20px;
  height: fit-content;
  padding: 20px; /* Ajusta el padding si es necesario */
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.7); /* Fondo blanco con transparencia */
}

.card {
  width: 25%; /* Ajusta el ancho de la tarjeta */
  border: #000 4px solid;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative; /* Necesario para posicionar los círculos */
  background-color: #ffffffdc; /*  0a0614a2  12070654  Elimina el fondo */

}

.image-container {
  background-image: url("/assets/game-images/heroes/weapon.warrior.png"); /* Ruta relativa a la misma carpeta */
  background-size: 21vh; /* Estira la imagen para que llene el contenedor, puede deformarse */
  background-position: center; /* Centra la imagen dentro del contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  width: 40%;
  padding-top: 69%; /* Mantiene la proporción de la imagen */
  position: relative;
  border-radius: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circles-left,
.circles-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px; /* Ajusta el ancho de los contenedores de círculos */
}
.circles-left {
  left: -55px; /* Ajusta la distancia desde la imagen */
}

.circles-right {
  right: -45px; /* Ajusta la distancia desde la imagen */
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.circles-container {
  display: flex;
  justify-content: space-between; /* Espacio entre los círculos */
  width: 105%;
  position: absolute;
  bottom: 0; /* Ubica los círculos en la parte inferior del contenedor de la imagen */
  padding: 0 5px; /* Espacio interno adicional para los bordes del contenedor */
  box-sizing: border-box;
  background-color: cyan;
}

.circle {
  width: 40px; /* Tamaño del círculo */
  height: 40px;
  background-color: #9B7CDF;
  box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.25);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* Añade margen para ajustar el espaciado entre los círculos */
  margin: 15px 5px; /* Ajusta este valor según tus necesidades */
  background-size: contain; /* Ajusta la imagen para que se muestre en su totalidad */
  background-position: center;
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}

#helmet {
  background-image: url("/assets/game-images/inventary-icons/Casco.png");
}

#chest {
  background-image: url("/assets/game-images/inventary-icons/Pecho.png");
}

#gloves {
  margin: 15px 5px;
}

#bracers {
  margin: 15px 5px;
}

#pants {
  background-image: url("/assets/game-images/inventary-icons/Piernas.png");
}

#shoes {
  background-image: url("/assets/game-images/inventary-icons/botas.png");
}

.circles-row {
  display: flex;
  justify-content: center; /* Centra los círculos en la fila */
  margin-top: -15px;
  margin-bottom: 10px; /* Espacio debajo de la fila de círculos */
  gap: 5px;
}
.circle span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #333;
  font-size: 12px;
}

.character-info {
  margin-bottom: 10px; /* Ajusta el espacio entre el subtítulo y la sección de estadísticas */
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.character-info h2 {
  font-size: 20px;
  color: #E856C3;
  margin: 10px 0 5px; /* Menor margen superior e inferior */
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.character-info p {
  font-size: 12px;
  color: #6c3494;
  margin: 0;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.stats {
  background-color: #4a05f800;
  padding: 15px;
  border-radius: 5px;
  margin-top: auto; /* Empuja la sección de estadísticas hacia abajo */
  box-sizing: border-box;
  flex-grow: 1; /* Hace que ocupe todo el espacio restante */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left; /* Cambia la alineación del texto para diferenciarlo del título */
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.stats p {
  margin: 5px 0;
  font-size: 14px;
  color: #ff0000;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.outer-container {
  background-color: #F0ACDF;
  padding: 1px;
  box-shadow: inset 6px 6px 0px rgba(0, 0, 0, 0.25);
  width: 75%; /* Ajusta el ancho del contenedor */
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.inner-container {
  width: 100%; /* Ocupa el 100% del ancho del contenedor */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.top-buttons {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 0px 20px;
}

.top-buttons button {
  background-color: #e856c3;
  border: 3.5px solid #0a0614;
  font-size: 12px;
  padding: 10px;
  width: 18%;
  cursor: pointer;
  color: #fff;
  box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.25);
}

.top-buttons button:hover {
  background-color: #ffffff;
  color: #e856c3;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* Estilos para el grid */
.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px; /* Espacio entre columnas y filas */
  padding: 20px 20px 5px 20px;
  background-color: #f0acdf00; /* Color de fondo del grid */
  flex-grow: 1; /* Ocupa el espacio restante */
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.grid-item {
  background-color: #ffffff;
  box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.25);
  border: none;
  font-size: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative; /* Necesario para la imagen */
  width: 100%; /* Asegura que el item ocupe el ancho del contenedor */
  padding-top: 144.93%; /* Proporción del alto al 69% del ancho para mantener la relación de aspecto */
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
  cursor: pointer;
}

.grid-item:hover {
  background-color: #5d0572;
}

.grid-item:hover .grid-item-info p {
  color: #fff; /* Change the color of grid-item-info when grid-item is hovered */
}

.grid-item:hover .grid-item-info h3 {
  color: #fff; /* Change the color of grid-item-info when grid-item is hovered */
}

.grid-item-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.grid-item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.grid-item-info {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  color: #4800ff;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.grid-item-info h3 {
  font-size: 12px;
  color: #9d2faa;
  padding-bottom: 5px;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.grid-item-info p {
  font-size: 8px;
  color: #000000;
  margin: 0;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}
.stats {
  display: none; /* Oculta la sección de estadísticas */
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: #9c2727;
  padding: 10px;
  border-radius: 5px;
  width: calc(100% - 20px);
  text-align: left;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.stats p {
  margin: 5px 0;
  font-size: 14px;
  color: #c4bec8;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

/* Estilo para mostrar la sección de estadísticas cuando se activa */
.grid-item.active .stats {
  display: block;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

/* Reducir el espacio entre los botones de paginación */
.pagination {
  display: flex;
  justify-content: center;
  padding: 10px 0 0 0;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.pagination a {
  margin: 0 3px; /* Reduce el margen entre los botones */
  padding: 5px;
  border: 3px solid #0a0614;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  display: inline-flex; /* Asegura que las flechas también sean botones */
  align-items: center; /* Centra el contenido verticalmente */
  justify-content: center; /* Centra el contenido horizontalmente */
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
  font-size: 10px;
  background-color: #e856c3;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.pagination a:hover {
  background-color: #ffffff;
  color: #e856c3;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
}

/* Lista oculta */
.stats-list {
  display: none;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}
#stats-info {
  background-color: rgba(136, 29, 29, 0); /* Blanco con 80% opacidad */
  padding: 15px;
  border-radius: 5px;
  margin-top: auto; /* Si es necesario, ajusta el margen superior */
  box-sizing: border-box;
  flex-grow: 1; /* Ocupa todo el espacio restante */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left; /* Cambia la alineación del texto */
  position: relative; /* Asegura que se muestre en su contexto */
  z-index: 10; /* Asegura que el elemento esté por encima de otros elementos si es necesario */
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}
/* Estilos para resoluciones menores a 1920x1080 y mayores a 1366x768 */
@media (max-width: 1921px) and (min-width: 1700px) {
  .container {
    gap: 8px; /* Reduce aún más el espacio entre la tarjeta y la lista de TODOs */
  }

  .outer-container {
    width: 75%;
  }
  .inner-container {
    width: 100%; /* Ancho fijo del contenido */
  }

  .grid {
    gap: 10px; /* Ajusta el espacio entre columnas y filas */
  }

  .top-buttons button {
    width: 22%; /* Ajusta el ancho de los botones */
  }

  .pagination a {
    margin: 0 5px; /* Ajusta el margen entre los botones */
  }
}

/* Estilos para resoluciones menores a 1366x768 */
@media (max-width: 1366px) {
  .container {
    gap: 8px; /* Reduce aún más el espacio entre la tarjeta y la lista de TODOs */
  }

  .card {
    height: auto;
  }
  .outer-container {
    width: 75%;
  }
  .inner-container {
    width: 100%; /* Ancho fijo del contenido */
  }

  .grid {
    gap: 8px; /* Ajusta el espacio entre columnas y filas */
  }

  .top-buttons button {
    width: 25%; /* Ajusta el ancho de los botones */
  }

  .pagination a {
    margin: 0 8px; /* Ajusta el margen entre los botones */
  }
}
