<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="main-container">
      <!-- <app-create-match-modal></app-create-match-modal>
      <app-team-selection-modal></app-team-selection-modal> -->
      <!-- <app-start-battle-modal></app-start-battle-modal>
      <app-match></app-match>
      <app-action-bar></app-action-bar> -->
      <!-- <app-end-match-modal></app-end-match-modal> -->
      <!-- <app-match-management-view></app-match-management-view> -->
      <!-- <app-end-match-modal></app-end-match-modal> -->
      <app-match-management-view></app-match-management-view>
      <!-- <app-game-view></app-game-view> -->
    </div>
  </body>
</html>
