<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TNB-III</title>
  </head>
  <body>
    <div class="main-container">
      <header class="header-main" *ngIf="showHeader">
        <h1>The Nexus Battles III</h1>
        <nav>
          <ul>
            <li>
              <a href="#" (click)="showManagementMatchComponent()"
                >Jugar online</a
              >
            </li>
            <li><a href="#">Misiones</a></li>
            <li><a href="#">Torneo</a></li>
            <li>
              <a href="#inventary" (click)="showInventaryComponent()"
                >Mi inventario</a
              >
            </li>
            <li><a href="#">Subasta</a></li>
            <li>
              <a href="#profile" (click)="showInfoUserComponent()">Mi cuenta</a>
            </li>
          </ul>
        </nav>
      </header>
      <app-match-management-view
        *ngIf="showManagementMatch"
        (toggleGameView)="toggleGameView($event)"
      ></app-match-management-view>
      <app-info-user *ngIf="showInfoUser"></app-info-user>
      <app-hero-inventory *ngIf="showInventary"></app-hero-inventory>
    </div>
  </body>
</html>
