<div class="main-container" *ngIf="showHeader">
  <header class="header-main">
    <h1>The Nexus Battles III</h1>
    <nav>
      <ul>
        <li (click)="navigateTo('match-management-view')">
          <a>Jugar online</a>
        </li>
        <li (click)="navigateTo('missions')">
          <a>Misiones</a>
        </li>
        <li (click)="navigateTo('nothing')">
          <a>Torneo</a>
        </li>
        <li (click)="navigateTo('hero-inventory')">
          <a>Mi inventario</a>
        </li>
        <li (click)="navigateTo('nothing')">
          <a>Subasta</a>
        </li>
        <li (click)="navigateTo('profile')">
          <a>Mi cuenta</a>
        </li>
      </ul>
    </nav>
  </header>
</div>
<app-chat-bot-view></app-chat-bot-view>
<app-sound-control></app-sound-control>
<router-outlet></router-outlet>
