<form action="" id="hero-form">
    <h2 class="goback">- Atrás</h2>
    <h2 class="title"> Creación del Heroe</h2>
    <div id="container">
        <div class="content">
            <div class="first">
                <div class="fcolumnt">
                    <img src="/user.png" alt="">
                    <br>
                    <label for="file-upload" class="custom-file-upload">
                        Subir archivo
                    </label>
                    <input id="file-upload" type="file"/>
                </div>
                <div class="scolumn">
                    <select class="input" name="herotype" id="herotype"> 
                        <option value="">tipo heroe</option>
                    </select>
                    <select class="input" name="herosubtype" id="">
                        <option value="">subtipo heroe</option>
                    </select>
                    <br>
                    <input class="input name" placeholder="Nombre" type="text">
                </div>
            </div>
            <h2>Atributos Base</h2>
            <div class="second">
                <div class="scolumn">
                    <div class="field">
                        <label for="">Vida</label>
                        <input class="input" type="text">
                    </div>
                    <div class="field">
                        <label for="">Nivel</label>
                        <input  class="input" type="text">
                    </div>
                    <div class="field">
                        <label for="">Maná</label>
                        <input class="input" type="text">
                    </div>
                    <div class="field">
                        <label for="">Defensa</label>
                        <input class="input" type="text">
                    </div>
                </div>
                <div class="sscolumn">
                    <h3>Ataque</h3>
                    <div class="contents">
                        <input class="input" placeholder="value" type="text">
                        <input class="input" placeholder="Min" type="text">
                        <input class="input" placeholder="Max" type="text">
                    </div>
                    <h3 class="danoh3">Daño</h3>
                    <div class="contents">
                        <input class="input" placeholder="value" type="text">
                        <input class="input" placeholder="Min" type="text">
                        <input class="input" placeholder="Max" type="text">
                    </div>
                </div>
            </div>
        </div>
        <div class="content2">
            <h2>Probabilidades</h2>
            <div class="field">
                <label for="">Causa daño critico</label>
                <input class="input" type="text">
            </div>
            <div class="field">
                <label for="">Evadir golpe</label>
                <input class="input" type="text">
            </div>
            <div class="field">
                <label for="">Resistir golpe</label>
                <input class="input" type="text">
            </div>
            <div class="field">
                <label for="">Escapar del golpe</label>
                <input class="input" type="text">
            </div>
            <div class="field">
                <label for="">No causar daño</label>
                <input class="input" type="text">
            </div>

            <div class="actions-container">
                <button class="button save">Save</button>
                <button class="button save">Update</button>
            </div>
        </div>

    </div>
</form>