* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("assets/Fondo.jpg");
  background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
  background-position: center; /* Centra la imagen en el fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  font-family: Arial, sans-serif;
  background-color: #cccccc00;
  margin: 0; /* Elimina el margen del body */
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  box-sizing: border-box;
  width: 100%; /* Asegura que el body ocupe todo el ancho */
  height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
}

.container {
  display: flex;
  gap: 20px;
  border-radius: 10px;
  width: 80%; /* Ajusta el ancho según sea necesario */
  padding: 20px; /* Ajusta el padding si es necesario */
  margin: 0; /* Elimina el margen */
  box-sizing: border-box;
  border: 2px solid #000;
  background-color: #c4bec865; /* Fondo blanco con transparencia */
}

.card {
  width: 24%; /* Ajusta el ancho de la tarjeta */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative; /* Necesario para posicionar los círculos */
  background-color: #0a0614a4; /*  0a0614a2  12070654  Elimina el fondo */
  margin: 15px;
}

.image-container {
  background-color: #ddd;
  width: 100%;
  padding-top: 100%; /* Espacio cuadrado para la imagen */
  position: relative;
  border-radius: 10px;
  margin-bottom: 10px; /* Ajusta el espacio entre la imagen y el título */
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.character-info {
  margin-bottom: 10px; /* Ajusta el espacio entre el subtítulo y la sección de estadísticas */
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.character-info h2 {
  font-size: 20px;
  color: #9d2faa;
  margin: 10px 0 5px; /* Menor margen superior e inferior */
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.character-info p {
  font-size: 16px;
  color: #6c3494;
  margin: 0;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.stats {
  background-color: #4a05f800;
  padding: 15px;
  border-radius: 5px;
  margin-top: auto; /* Empuja la sección de estadísticas hacia abajo */
  box-sizing: border-box;
  flex-grow: 1; /* Hace que ocupe todo el espacio restante */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left; /* Cambia la alineación del texto para diferenciarlo del título */
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.stats p {
  margin: 5px 0;
  font-size: 14px;
  color: #ff0000;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.outer-container {
  background-color: #bbbbbb00;
  border-radius: 0px;
  padding: 1px;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
  width: 75%; /* Ajusta el ancho del contenedor */
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.inner-container {
  width: 100%; /* Ocupa el 100% del ancho del contenedor */
  background-color: #ffffff00;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.top-buttons {
  display: flex;
  justify-content: space-between;
  background-color: transparent; /* Elimina el fondo */
  padding: 10px;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.top-buttons button {
  background-color: #0a061477;
  border: 1px solid #0a0614;
  border-radius: 5px;
  padding: 10px;
  width: 18%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.top-buttons button:hover {
  background-color: #5d0572;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

/* Estilos para el grid */
.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px; /* Espacio entre columnas y filas */
  padding: 20px;
  background-color: #f0acdf00; /* Color de fondo del grid */
  flex-grow: 1; /* Ocupa el espacio restante */
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.grid-item {
  background-color: #0a0614a4;
  border-radius: 5px;
  border: 1px solid #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative; /* Necesario para la imagen */
  width: 100%; /* Asegura que el item ocupe el ancho del contenedor */
  padding-top: 144.93%; /* Proporción del alto al 69% del ancho para mantener la relación de aspecto */
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.grid-item:hover {
  background-color: #5d0572;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.grid-item-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.grid-item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.grid-item-info {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  color: #4800ff;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.grid-item-info h3 {
  font-size: 16px;
  color: #9d2faa;
  margin: 5px 0 3px; /* Margen entre el título y el subtítulo */
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.grid-item-info p {
  font-size: 14px;
  color: #6c3494;
  margin: 0;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}
.stats {
  display: none; /* Oculta la sección de estadísticas */
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: #9c2727;
  padding: 10px;
  border-radius: 5px;
  width: calc(100% - 20px);
  text-align: left;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.stats p {
  margin: 5px 0;
  font-size: 14px;
  color: #c4bec8;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

/* Estilo para mostrar la sección de estadísticas cuando se activa */
.grid-item.active .stats {
  display: block;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

/* Reducir el espacio entre los botones de paginación */
.pagination {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  background-color: transparent; /* Elimina el fondo */
  border-top: 1px solid #0a0614;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.pagination a {
  margin: 0 3px; /* Reduce el margen entre los botones */
  padding: 10px 15px;
  border: 1px solid #0a0614;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  background-color: #0a061477;
  display: inline-flex; /* Asegura que las flechas también sean botones */
  align-items: center; /* Centra el contenido verticalmente */
  justify-content: center; /* Centra el contenido horizontalmente */
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.pagination a:hover {
  background-color: #5d0572;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

/* Lista oculta */
.stats-list {
  display: none;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}
#stats-info {
  background-color: rgba(136, 29, 29, 0); /* Blanco con 80% opacidad */
  padding: 15px;
  border-radius: 5px;
  margin-top: auto; /* Si es necesario, ajusta el margen superior */
  box-sizing: border-box;
  flex-grow: 1; /* Ocupa todo el espacio restante */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left; /* Cambia la alineación del texto */
  position: relative; /* Asegura que se muestre en su contexto */
  z-index: 10; /* Asegura que el elemento esté por encima de otros elementos si es necesario */
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}
/* Estilos para resoluciones menores a 1920x1080 y mayores a 1366x768 */
@media (max-width: 1921px) and (min-width: 1700px) {
  .container {
    gap: 8px; /* Reduce aún más el espacio entre la tarjeta y la lista de TODOs */
  }

  .outer-container {
    width: 75%;
  }
  .inner-container {
    width: 100%; /* Ancho fijo del contenido */
  }

  .grid {
    gap: 10px; /* Ajusta el espacio entre columnas y filas */
  }

  .top-buttons button {
    width: 22%; /* Ajusta el ancho de los botones */
  }

  .pagination a {
    margin: 0 5px; /* Ajusta el margen entre los botones */
  }
}

/* Estilos para resoluciones menores a 1366x768 */
@media (max-width: 1366px) {
  .container {
    gap: 8px; /* Reduce aún más el espacio entre la tarjeta y la lista de TODOs */
  }

  .card {
    height: auto;
  }
  .outer-container {
    width: 75%;
  }
  .inner-container {
    width: 100%; /* Ancho fijo del contenido */
  }

  .grid {
    gap: 8px; /* Ajusta el espacio entre columnas y filas */
  }

  .top-buttons button {
    width: 25%; /* Ajusta el ancho de los botones */
  }

  .pagination a {
    margin: 0 8px; /* Ajusta el margen entre los botones */
  }
}
