:host {
  width: 70%;
  border-left: 5px solid black;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  gap: 10px;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: auto;
  cursor: pointer;
}

.grid-item img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-style: solid;
  border-width: 5px;
  transition: filter 0.3s ease;
  background-color: white;
}

.grid-item img:hover {
  filter: brightness(80%);
}

.product-properties {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  font-size: clamp(0.1rem, 1vw, 0.7rem);
  align-items: center;
  justify-content: center;
  width: 100%;
}

.hability-name {
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hability-cost {
  margin-top: 5px;
  color: #e84d1a;
}
