<div class="main-container-match">
  <div class="indicators">
    <div class="turn-container">
      <h1 class="name-turn">
        {{
          "El turno es de: " +
            (userService.getCurrentNameUser()
              ? userService.getCurrentNameUser()
              : "Nadie")
        }}
      </h1>
    </div>
    <div class="counter-container">
      <div class="counter-cell">
        <h1 class="counter-number">{{ counter }}</h1>
      </div>
    </div>
  </div>
  <div class="teams-container">
    <div *ngFor="let teamKey of getTeamKeys()" class="team-container">
      <app-team
        [teamreceived]="match.teams.get(teamKey)"
        [amountPlayers]="getAmountPlayersForTeam()"
      ></app-team>
    </div>
  </div>
</div>
