@font-face {
  font-family: "VT323";
  src: url("./assets/PST2P.ttf");
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "VT323";
}

.module-profile {
  background-image: url("/assets/game-images/background/profile-background.jpg");
}
