@font-face {
  font-family: "VT323";
  src: url("./assets/PST2P.ttf");
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-image: url("../public/game-arena.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "VT323";
}
